body {
    font-family: 'Quattrocento', serif;
}

form {
    width: 800px;
    margin: auto;
    border: 3px solid #555;
    border-radius: 5px;
    padding: 2em;
}

form label {
    display: block;
    font-weight: bold;
}

textarea {
    resize: none;
}